@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
	font-family: "Roboto", sans-serif;
	margin: 0;
	font-size: 20px;
	background-color: #f4f5f7;
}

.header-fix {
	display: flex;
	align-items: center;
	justify-content: center;
}

h6 {
	align-items: center;
	display: flex;
	color: #9b9da0;
	font-size: small;
}

header {
	align-items: center;
	/* justify-content: center; */
	justify-content: space-evenly;
	display: flex;
	margin-top: 30px;
	margin-bottom: 12px;
	width: 80vw;
	/* justify-content: flex-end; */
}

form {
	align-items: center;
	justify-content: space-evenly;
	display: flex;
}
.search {
	background-color: transparent;
	border: 2px solid #c6c6c7;
	border-radius: 50px;
	font-size: 1em;
	padding: 0.5rem 1rem;
	margin-right: 12px;
	width: 15vw;
	transition-duration: 0.3s;
	transition-property: width;
}

.search:hover {
	width: 50vw;
}

.search:focus {
	outline: 0;
	background-color: white;
	width: 50vw;
}

img {
	height: 280px;
	width: 180px;
	object-fit: cover;
	padding-left: 12px;
	margin-top: 12px;
	margin-bottom: 12px;
	padding-top: 12px;
	padding-bottom: 12px;
}

.movie-container {
	align-items: center;
	justify-content: center;
	display: flex;
	flex-direction: column;
}

.movie {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	text-align: center;
	margin: 12px;

	width: 80vw;

	margin-right: 0;
	margin-left: 5px;
	box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
	border-radius: 15px;
	transition-duration: 0.3s;
	transition-property: box-shadow, transform;
}

.movie:hover {
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	transform: scale(1.05);
}

.movie-body {
	margin-top: 20px;
	margin-left: 5px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	text-align: left;
	width: 55vw;
}

.movie-info {
	justify-content: center;
	align-items: center;
}
.movie-over {
	font-size: large;
	font-weight: 500;
}

.movie-smalltext {
	font-size: small;
}

.btn {
	border-radius: 20px;
	transition-duration: 0.2s;
	transition-property: transform;
}
.btn:hover {
	transform: scale(0.95);
}
